<div class="wrap">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              숫자 야구 규칙
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>
              <ol>
                <li>4자리 숫자로 진행됩니다.</li>
                <li>4자리 숫자의 정답을 맞추면 됩니다.</li>
                <li>숫자는 0~9까지 구성되어 있으며, 각 숫자는 한번씩만 사용가능합니다.</li>
                <li>숫자와 위치 모두 일치하면 strike(S)입니다.</li>
                <li>숫자만 일치하면 ball(B)입니다.</li>
                <li>숫자가 하나도 맞지 않을 경우 out입니다.</li>
              </ol>
            </strong>
            example.<br>
            정답이 1234인 경우 <br>
            1023 : 1S 2B <br>
            5678 : out
            </div>
          </div>
        </div>
    </div>
</div>